body {
    background-color: rgb(30,19,71);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0rem;
    background-color: white;
    z-index: 1;
    border: 1px solid transparent;
    box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.1);
}

.nav-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .625rem 2.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    width: 10rem;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    flex-grow: 1;
}

.right-header-buttons {
    display: flex;
    padding: 0 .625rem;
    gap: 1px;
    align-items: center;
    flex-wrap: wrap;
}

.right-header-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: 550;
}

.right-header-buttons img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.right-header-buttons button {
    font-weight: 550;
    margin-right: 2rem;
}

.btn-burger-menu {
    display: none;
    font-size: 1.5em;
    margin-right: 1rem;
}

.main-section{
    background-color: white;
    justify-content: space-between;
    padding: 36px 0px 96px;
}

.left-side-section{
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 100px;
    margin-top: 70px;
}

.main-title-section{
    margin: 0px 0px 24px;
}

.main-title-section p{
    color: rgb(47,29,107);
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0px 0px;
}

.percentage-p{
    color: rgb(107,74,231);
}

.bi-check2{
    color: rgb(3,176,145);
    font-size: 24px;
}

.span-free-domain{
    margin: 0px 0px 2px;
}


h1{
    font-size: 36px;
    color: rgb(47,29,107);
    font-weight: 700;
}

.right-side-section{
    position: relative;
    bottom: 280px;
    left: 580px;
}
.right-side-section img{
    width: 800px;
    height: 550px;
}
----------------------------------------------------------------------------------------
section{
    padding: 5rem 0rem;
}

.service-section-description{
    margin: 0rem 1.175rem 3rem;
    padding: 0 40px;
}

.service-section-description h2{
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

.service-section-description p{
    color: white;
    margin: 1.5rem 0rem 0rem;
    text-align: center;
}

.cards h3{
    color: white;
    font-size: 18px;
    padding: 1rem 0rem;
}

.cards p{
    color: white;
    font-size: 16px;
    margin: 0;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 18px;
    padding: 0 40px;
    column-gap: 24px;
    row-gap: 24px;
}

.cards {
    background-color: rgb(47,29,107);
    width: 22.5rem;
    height: 16rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    border: 1px solid transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button {
    background-color: rgb(103,61,230);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.75rem 3rem;
    font-size: 1em;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.875rem;
    height: 3rem;
}

.button-text {
    color: white;
}

.button:hover {
    background-color: rgb(80, 37, 209);
}

.icons {
    background-color: rgb(103,60,231);
    color: white;
    border-radius: 5px;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}